/*.autocomplete-suggestions { border: 1px solid red; background: #FFF; overflow: auto; }*/
.autocomplete-suggestion {padding: 2px 5px; white-space: nowrap; overflow: hidden; color: #333;}
.autocomplete-selected { background: #eee; color: #333;}
.autocomplete-suggestions strong { font-weight: bold;}