<head>
    <title>Previsão 9 Meses</title>
    <meta charset="utf-8"/>

    <link href="css/autocomplete.css" rel="stylesheet">
    <link href="css/flick/jquery-ui-1.10.3.custom.css" rel="stylesheet">

    <style>
        #ui-datepicker-div { font-size: 12px; }

        #tb_prev{
            border-collapse: collapse;
            width: 600px;
        }

        label:hover{
            color: #333;
        }

        .dataprev{
            font-size: 0.95em;
            color: #444;
        }

        #tb_prev caption{
            color: #444;
        }

        #tb_prev tr:nth-child(odd){
            background-color: #efefef;
        }

        #tb_prev tr:nth-child(even){
            background-color: #fff;
        }

        #tb_prev th{
            border: 1px solid #666;
            padding: 0 5px;
            font-weight: normal;
            text-align: center;            
            background-color: #fff;            
        }

        #tb_prev td{
            border: 1px solid #666;
            padding: 0 5px;
            text-align: justify;
        }

    </style>
</head>

<body>

    <h1>Modelo 9 Meses</h1>

    <label for="cidade" width='100%'>Cidade:</label>
    <input type="text" id="cidade" value="Sao Paulo-SP" size="30"/>

    <label for="data_inicial"  class="small">Data inicial: </label>
    <input type="text" id="data_inicial" name="data_inicial">

    <label for="data_final"  class="small">Data final: </label>
    <input type="text" id="data_final" name="data_final">

    <label for="dt_diario">Diário</label><input type="radio" name="dt" value="diario" id="dt_diario" checked="checked"/>
    <label for="dt_mensal">Mensal</label><input type="radio" name="dt" value="mensal" id="dt_mensal"/>

    <input type="button" id="btn" value="Visualizar"/>

    <div id="temp_chart"></div>
    <div id="prec_chart"></div>
    <div id="tb_container"></div>

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/autocomplete.js"></script>
    <script src="js/highcharts.js"></script>

    <script type="text/javascript">

        var cidade_data = "SaoPaulo-SP";
        var autocomplete_set = true;
        var intervalo_previsao = 31 * 9;
        var chart = null;
        var ws_data = null;

        $("#data_inicial, #data_final").datepicker({
             dateFormat: 'dd/mm/yy',
             dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
             dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
             dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
             monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
             monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
             nextText: 'Próximo',
             prevText: 'Anterior'
        });

        function configDate() {

            var now = new Date();
            var data_final = new Date();
            data_final.setDate(now.getDate() + intervalo_previsao);

            var dp_ini = $("#data_inicial");
            dp_ini.datepicker();
            //dp_ini.datepicker("option", "dateFormat", "yy-mm-dd");
            dp_ini.datepicker("setDate", now);

            var dp_final = $("#data_final");
            dp_final.datepicker();
            //dp_final.datepicker("option", "dateFormat", "yy-mm-dd");
            dp_final.datepicker("setDate", data_final);
        }

        function parseDate(input) {
            var parts = input.split('-');
            return new Date(parts[0], parts[1] - 1, parts[2]);
        }

        function IsNumeric(input) {

            return (input - 0) == input && ('' + input).replace(/^\s+|\s+$/g, "").length > 0;
        }

        function check_empty() {
            if ($("#data_inicial").val().length === 0 || $("#data_final").val().length === 0)
                return true;

            return false;
        }

        function mean_arr(x){
            var s = 0;
            for (var i = 0; i < x.length; i++)
                s += x[i];
            return s/x.length;
        }

        function sum_arr(x){
            var s = 0;
            for (var i = 0; i < x.length; i++)
                s += x[i];
            return s;
        }

        function get_chart_data(json, dt){

            var datas = [];
            var prec = [];
            var tmin = [];
            var tmax = [];

            if (dt === "diario"){                

                for (var i = 0; i < json.resultados; i++){
                    datas.push(json[i].data);
                    prec.push(json[i].prec);
                    tmin.push(json[i].tmin);
                    tmax.push(json[i].tmax);
                }
                return {"data": datas, "prec": prec, "tmin": tmin, "tmax": tmax};
            }
            else if (dt === "mensal"){
               
                var vars = ["prec", "tmin", "tmax"];
                var data_vars = {"prec": {}, "tmin": {}, "tmax": {}};
                var datas = [];

                for (var i = 0; i < json.resultados; i++){
                    var mes_ano = json[i].data.substring(3);

                    if (datas.indexOf(mes_ano) < 0)
                        datas.push(mes_ano);

                    for (var k = 0; k < vars.length; k++){
                        var v = vars[k];

                        if (data_vars[v][mes_ano] === undefined)
                            data_vars[v][mes_ano] = [json[i][v]];
                        else
                            data_vars[v][mes_ano].push(json[i][v]);
                    }                  
                }
              
                for (var i = 0; i < datas.length; i++){
                    var mes_ano = datas[i];

                    prec.push(Math.round(sum_arr(data_vars["prec"][mes_ano])));
                    tmin.push(Math.round(mean_arr(data_vars["tmin"][mes_ano])));
                    tmax.push(Math.round(mean_arr(data_vars["tmax"][mes_ano])));                
                }

                return {"data": datas, "prec": prec, "tmin": tmin, "tmax": tmax};
            }
            
        }

        function base_plot(pvar, datas){

           return {

                      chart: {
                        renderTo: pvar === 'prec' ? 'prec_chart':'temp_chart',
                        type: pvar === 'prec' ? 'column':'line',
                        zoomType: "x"
                    },
                    title: {
                        text: $("#cidade").val(),
                        x: -20,
                        style: {color: '#333'}
                    },

                    yAxis: {
                      title: {
                        text: pvar === 'prec' ? 'Prec [mm]':'Temperatura [°C]',
                        style: {color: '#333', fontWeight: 'normal'}
                    },

                    gridLineColor:'#ddd',
                    gridLineWidth: 1,
                    // min: 0,
                    // max: 100
                },

                    xAxis: {
                      categories: datas,
                      labels: {step:30, enabled: false, rotation: -90,
                        style: { fontSize: '0.8em' }
                    },
                    gridLineColor:'#ddd',
                    gridLineWidth: 1
                },

                    tooltip: {
                      valueSuffix: '',
                      pointFormat: pvar === 'prec' ? '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                      '<td style="padding:0"><b>{point.y}mm</b></td></tr>':
                      '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                      '<td style="padding:0"><b>{point.y}°C</b></td></tr>'
                  },

                  // colors: pvar === "prec" ? col_colors : pvar === "tmax" ? tmax_colors : tmin_colors,

                  plotOptions: {
                    column: {stacking: 'normal'}
                },

                series : []
            }; 
        }

        function build_plot(data){

             var prev = data.prev;
             var clim = data.clim.dados;             

             var dt = $('input[name="dt"]:checked').val();
             var chart_data = get_chart_data(prev, dt);            

            //Cria grafico
            var temp_conf = base_plot("temp", chart_data.data);
            var prec_conf = base_plot("prec", chart_data.data);

            if (dt === "mensal"){

                var clim_tmin = []; 
                var clim_tmax = [];
                var clim_prec = [];                

                for (var i = 0; i < chart_data.data.length; i++){
                    var mes = window.parseInt(chart_data.data[i].substring(0, 2));                    
                    clim_tmin.push(Math.round(clim[mes - 1].tmin));
                    clim_tmax.push(Math.round(clim[mes - 1].tmax));
                    clim_prec.push(Math.round(clim[mes - 1].prec));
                }

                temp_conf.series.push({name: 'Tmin*', data: clim_tmin, color: '#333333', dashStyle: 'Dash'});
                temp_conf.series.push({name: 'Tmax*', data: clim_tmax, color: '#333333', dashStyle: 'Dash'});
                prec_conf.series.push({name: 'Prec*', data: clim_prec, color: '#333333', dashStyle: 'Dash', type: 'line', zIndex: 10});
            }

            //Add Series
            temp_conf.series.push({name: 'Tmin', data: chart_data.tmin, color: 'steelblue'});
            temp_conf.series.push({name: 'Tmax', data: chart_data.tmax, color: 'tomato'});
            prec_conf.series.push({name: 'Prec', data: chart_data.prec, color: 'steelblue'});

            var temp_chart = new Highcharts.Chart(temp_conf);
            var prec_chart = new Highcharts.Chart(prec_conf);

            var htitle = $("input[name=dt]:checked").val() === "mensal" ? 'Obs.: Dados do mês atual não incluem dias passados':'';
            var tb = buildTable(chart_data, htitle, clim);
            $("#tb_container").html(tb);
        }

        function buildTable(tdata, title, clim){
                                    
            var tb = $("<table></table>").attr('id', 'tb_prev').append($("<caption></caption>").text(title));
            var header = $("<tr></tr>");
            var colnames = ["Data", "Prec", "Tmin", "Tmax"];

            for (var i = 0; i < colnames.length; i++)
                header.append($("<th></th>").text(colnames[i]));
            
            var thead = $("<thead></thead>").append(header);
            tb.append(thead);
            var tbody = $("<tbody></tbody>");

            for (var i = 0; i < tdata.data.length; i++){
                var row = $("<tr></tr>");              

                for (var j = 0; j < colnames.length; j++){
                    var colname = colnames[j].toLowerCase();
                    
                    if (colname === "data")
                        row.append($("<td></td>").attr('class', 'dataprev').html(tdata[colname][i]));
                    else{
                        //row.append($("<td></td>").html(tdata[colname][i]));
                        if ($("input[name=dt]:checked").val() === "mensal"){
                            var mes = window.parseInt(tdata.data[i].substring(0, 2));
                            var climat = clim[mes - 1][colname];
                            var val = tdata[colname][i];
                            var frac = (val - climat)*100/climat;
                            var color = frac > 0 ? 'green':'red';
                            frac = (frac > 0 ? "+" + frac.toFixed(1):frac.toFixed(1)) + "%";
                            var sp = $("<span></span>").html(frac).css({'color': color, 'fontSize': '0.8em', 'marginLeft': '30px', 'float': 'right'});
                            row.append($("<td></td>").html(val).append(sp));
                        }
                        else
                            row.append($("<td></td>").html(tdata[colname][i]));
                    }
                }
                tbody.append(row);
            }

            return tb.append(tbody);
        };


        $(document).ready(function() {

            //Datepicker defaults
            configDate();

            $("#cidade").autocomplete({

                serviceUrl:"autocomplete.php",
                minChars: 3,
                noCache: false,

                onSelect: function(suggestion){
                    cidade_data = suggestion.data;
                    autocomplete_set = true;       

                    $("#temp_chart").empty();
                    $("#prec_chart").empty();
                    $("#tb_container").empty();
                    ws_data = null;
                },
            }); //fim autocomplete

            $("#cidade").change(function(e){
                autocomplete_set = false;                
            });

            $("input[name='dt']:radio").change(function(){
                
                if (ws_data !== null)
                    build_plot(ws_data);
            });

            $("#btn").click(function(){

                if ( ! autocomplete_set) {
                    alert("Ao digitar a cidade selecione um valor da lista.");
                    return;
                }               
                if (check_empty()){
                    alert("Preencha todos os campos.");
                    return;
                }

                if ($("#data_inicial").datepicker("getDate") >= $("#data_final").datepicker("getDate")) {
                    alert("Intervalo de Datas inválido.");
                    return;
                }

                var dt_ini = $("#data_inicial").val();
                var dt_fim = $("#data_final").val();
                var dt = $('input[name="dt"]:checked').val();

                $.getJSON("previsao9meses.php", {Cidade: cidade_data, DtIni: dt_ini, DtFim: dt_fim, type: "json"}, function(json_data){
                    
                    ws_data = json_data;                    
                    build_plot(ws_data);

                }); //fim getjson

            }); //fim click btn 

        }); //fim doc ready

</script>
</body>
